# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
.venv/

# Environment Variables
.env

# Jupyter
.ipynb_checkpoints/

# Pytest
.pytest_cache/

# Ruff
.ruff_cache/

# Streamlit
.streamlit/

# Airflow
airflow/
logs/

# OS
.DS_Store
Thumbs.db

# Build
dist/
build/
*.egg-info/

# Models
*.pkl

# UV
uv.lock
